<main role="main" class="container-fluid content-container">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-3">
          <div id="iosBlurBg">
            <div id="whiteBg"></div>
          </div>
          <div id="bottomEnter"></div>
          <div id="bottomBlurBg"></div>
          <!-- Login Form -->
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="loginForm">
            <div class="title">
              <p>Laravel<br><span>CRM</span></p>
              <hr>
              <hr class="short">
            </div>

              <div class="col-3">
                <input matInput class="effect-2" type="text" placeholder="Login..." formControlName="userName" required>
                <span class="focus-border"></span>
                <p *ngIf="isFieldInvalid('userName')">
                  Please inform your user name
                </p>

                <input matInput class="effect-2" type="password" placeholder="Password..." formControlName="password" required>
                <span class="focus-border"></span>
                <p *ngIf="isFieldInvalid('userName')">
                  Please inform your password
                </p>
              </div>

              <div class="forget">
                <button class="btn btn-default btn-sm">Forgot Password?</button>
              </div>


          </div>
          <button type="submit">
            <div class="enterButton">
              <i class="fa fa-lock fa-2x text-white"></i><br>
              <span class="enterText text-white">Enter</span>
            </div>
          </button>
          </form>
        </div>

      </div>
    </div>
  </div>
</main>