<main role="main" class="container-fluid content-container">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 margin-bottom-30">
          <!-- BEGIN Portlet PORTLET-->
          <div class="portlet">
            <div class="portlet-title">
              <div class="caption">
                <i class="glyphicon glyphicon-tower"></i>
                <span class="caption-subject text-uppercase"> Files</span>
              </div>
              <div class="actions">
                <a href="javascript:;" class="btn">
                  <i class="glyphicon glyphicon-pencil"></i>
                  Edit
                </a>
                <a href="javascript:;" class="btn">
                  <i class="glyphicon glyphicon-paperclip"></i>
                  Add
                </a>
                <a href="javascript:;" class="btn btn-circle">
                  <i class="glyphicon glyphicon-resize-full"></i>
                </a>
              </div>
            </div>
            <div class="portlet-body">

            </div>
          </div>
          <!-- END Portlet PORTLET-->
        </div>
      </div>
    </div>
  </div>
</main>